
{% extends "base.html" %}

{% block body %}

<h1>Turmas:</h1>
<br>
<p>
    Página com a lista de turmas do curso selecionado:
</p>

{% for turma in turmas %}

    <div class="card">
        <h5 class="card-header">Período: {{turma.periodo}}</h5>
        <div class="card-body">
            <h5 class="card-title">Curso: {{turma.curso}}</h5>
            <p class="card-text">Data da formatura: {{turma.data_formatura}}</p>
            <p class="card-text">Foto: {{turma.foto}}</p>
            <a href="/egressos" class="btn btn-success">Ver Egressos</a>
        </div>
    </div>

{% endfor %}

{% endblock %}
